<div class="mx-auto">
	<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark" style="font-size: 16pt;top: 56px">
		<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
			<ul class="navbar-nav">
				<a routerLink="/careers/{{id_career}}/" class="nav-item" style="color: #ffffff; font-size: 24pt">
					{{subject.name}}
				</a>
			</ul>
		</div>
		<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<button class="btn btn-primary" style="font-size: 16pt" data-toggle="modal"
							data-target="#upload-file-modal">Subir archivo
					</button>
				</li>
			</ul>
		</div>
	</nav>
</div>
<ng-container *ngFor="let row of contents">
	<div class="card-deck content-row">
		<div class="card" *ngFor="let content of row">
			<div class="card-body row">
				<div class="col-3">
					<img class="" src="..." alt="Card image cap">
				</div>
				<div class="col-9">
					<h5 class="card-title">{{content.content_name}}</h5>
					<p class="card-text upuntes-link">
						<a href="#" class="card-text" target="_blank">{{users_owners[content.id_user_owner].email}}</a><br>
						{{content.update_date}}
					</p>
				</div>

			</div>
			<div class="card-footer text-center">
				<button class="btn btn-danger">
					<img src="assets/icons/report.svg" width="30" height="30">
				</button>
				<button class="btn btn-warning" style="margin-left: 2%; margin-right: 2%">
					<img src="assets/icons/eye.svg" width="30" height="30">
				</button>
				<button class="btn btn-success">
					<img src="assets/icons/download.svg" width="30" height="30">
				</button>
			</div>
		</div>
	</div>
</ng-container>
<app-form-upload></app-form-upload>
