.content-row{
    margin: 2% 2%;
}
.upuntes-link>a:link {
    color: #233365;
}
.upuntes-link>a:visited {
    color: #233365;
}
.upuntes-link>a:hover {
    color: #233365;
    text-decoration: none;
}
.upuntes-link>a:active {
    color: #233365;
    text-decoration: none;
}
.upuntes-color {
    color: #f5f5f5;
    background-color: #233365;
}
.icon-col>span{
    position: absolute;
}
.icon-col>span::before{
    position: absolute;
    font-size: 4em;
}
