<div class="containter carrer-containter">
    <div class="row no-margin-horizontal">
        <div class="col-sm-6 text-center">
            <a href="#">
                <img src="resources/Animación.svg" class="career-image rounded-circle">
            </a>
        </div>
        <div class="col-sm-6 text-center">
            <a href="#">
                <img src="resources/Desarrollo%20de%20productos%20interactivos.svg" class="career-image rounded-circle">
            </a>
        </div>
    </div>
    <div class="row no-margin-horizontal">
        <div class="col-sm-6 text-center">
            <a href="#">
                <img src="resources/Diseño%20visual.svg" class="career-image rounded-circle">
            </a>
        </div>
        <div class="col-sm-6 text-center">
            <a href="#">
                <img src="resources/Ingeniería%20en%20desarrollo%20de%20contenidos%20digitales.svg" class="career-image rounded-circle">
            </a>
        </div>
    </div>
</div>
