<div class="containter-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 login-column">
            <img src="resources/Upuntes_Logo.svg" class="image-upuntes-logo">
            <form method="post" action="careers.html">
                <div class="form-group">
                    <input type="text" class="form-control placeholder-cursive" id="email" placeholder="Dirección de correo">
                    <input type="password" class="form-control placeholder-cursive" id="password" placeholder="Constraseña">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" id="remember_me">Recuérdame
                        </label>
                        <a data-toggle="modal" href="#forgotten_password_modal" class="float-right">¿Contraseña olvidada?</a>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-login">Iniciar sesión</button>
            </form>
            ¿No eres miembro? <a data-toggle="modal" href="#register_modal">Regístrate</a>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
