<div class="row years-dropdown-row no-margin-horizontal">
    <div class="col-md text-center">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle button-dropdown-year" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Haz click para ver las asignaturas">
                1º año
            </button>
            <div class="dropdown-menu border subject-drop-menu-border" aria-labelledby="dropdownMenuButton1">
                <a class="dropdown-item" href="#">Asignatura 1</a>
                <div class="dropdown-divider border"></div>
                <a class="dropdown-item" href="#">Asignatura 2</a>
                <div class="dropdown-divider border"></div>
                <a class="dropdown-item" href="#">Asignatura 3</a>
                <div class="dropdown-divider border"></div>
                <a class="dropdown-item" href="#">Asignatura 4</a>
            </div>
        </div>
    </div>
    <div class="col-md text-center">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle button-dropdown-year" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Haz click para ver las asignaturas">
                2º año
            </button>
            <div class="dropdown-menu border subject-drop-menu-border" aria-labelledby="dropdownMenuButton2">
                <a class="dropdown-item" href="#">Asignatura 1</a>
                <div class="dropdown-divider border"></div>
                <a class="dropdown-item" href="#">Asignatura 2</a>
                <div class="dropdown-divider border"></div>
                <a class="dropdown-item" href="#">Asignatura 3</a>
                <div class="dropdown-divider border"></div>
                <a class="dropdown-item" href="#">Asignatura 4</a>
            </div>
        </div>
    </div>
    <div class="col-md text-center">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle button-dropdown-year" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Haz click para ver las asignaturas">
                3º año
            </button>
            <div class="dropdown-menu border subject-drop-menu-border" aria-labelledby="dropdownMenuButton3">
                <a class="dropdown-item" href="#">Asignatura 1</a>
                <div class="dropdown-divider border"></div>
                <a class="dropdown-item" href="#">Asignatura 2</a>
                <div class="dropdown-divider border"></div>
                <a class="dropdown-item" href="#">Asignatura 3</a>
                <div class="dropdown-divider border"></div>
                <a class="dropdown-item" href="#">Asignatura 4</a>
            </div>
        </div>
    </div>
    <div class="col-md text-center">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle button-dropdown-year" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Haz click para ver las asignaturas">
                4º año
            </button>
            <div class="dropdown-menu border subject-drop-menu-border" aria-labelledby="dropdownMenuButton4">
                <a class="dropdown-item" href="#">Asignatura 1</a>
                <div class="dropdown-divider border"></div>
                <a class="dropdown-item" href="#">Asignatura 2</a>
                <div class="dropdown-divider border"></div>
                <a class="dropdown-item" href="#">Asignatura 3</a>
                <div class="dropdown-divider border"></div>
                <a class="dropdown-item" href="#">Asignatura 4</a>
            </div>
        </div>
    </div>
</div>
