<div class="containter-fluid">
	<div class="row">
		<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 login-column">
			<img src="assets/Upuntes_Logo.svg" class="image-upuntes-logo">
			<div class="text-danger wrong-login" hidden id="wrong_login_id">
				El usuario y la contraseña no coinciden.
			</div>
			<form [formGroup]="user_form" (ngSubmit)="onSubmit()">
				<div class="form-group">
					<input type="text" class="form-control placeholder-cursive" id="email" placeholder="Dirección de correo" formControlName="email">
					<input type="password" class="form-control placeholder-cursive" id="password" placeholder="Constraseña" formControlName="password">
				</div>
				<button type="submit" class="btn btn-login upuntes-color" [disabled]="!user_form.valid" id="button_login_id">
					Iniciar sesión
					<img src="assets/svg/load_icon.svg" style="height: 1em; display: none" id="load_icon_login">
				</button>
			</form>
			<div class="upuntes-link">
			¿No eres miembro? <a data-toggle="modal" href="#register_modal" class="">Regístrate</a>
			</div>
		</div>
	</div>
</div>
<app-registry></app-registry>
