<div class="container-fluid career-containter">
	<div class="row no-margin-horizontal">
		<div class="col-lg-3 col-md-6 col-sm-12 text-center" *ngFor="let career of all_careers">
			<a routerLink="{{career.id_career}}"  title="{{career.name}}">
				<img class="career-image rounded-circle" src="assets/{{career.img}}">
			</a>
			<p class="d-none d-lg-block upuntes-link"><!--Display only in large-->
				<a routerLink="{{career.id_career}}"  title="{{career.name}}">
					{{career.name}}
				</a>
			</p>
		</div>
	</div>
</div>
<!--Footer-->
<nav class="navbar fixed-bottom upuntes-color">
	<button class="navbar-brand mx-auto upuntes-color" type="submit" data-toggle="modal" data-target="#modalAddCareer">
		Añadir carrera
	</button>
</nav>
<!--Modal para añadir carrera-->
<app-form-career></app-form-career>
